html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#renderCanvas{
    height: 100%;
    width: 100%;
}
#placar{
    position:absolute;
    bottom:0;
    padding:10px;
    left:0;
    margin:1em;
    background-color:#333333;
    width:20%;
    height:20%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    color:#ffff;
    margin:0 auto;
}
p{
    font-size: 50px;
    font-weight: bold;
    padding:2px;
}
.vs{
    
    font-size: 40px;
    color:red;
}
.jogador{
    font-weight: bold;  
    width:50px;
    height:60px;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: brown;
    background-color: aliceblue;
}
@media (min-width: 425px){
    #placar{
     width: 25%;   
    }
    .jogador{
        width:150px;
    }
    p{
    font-size: 40px;
    
    padding:5px;
    }
    .vs{
    font-size: 30px;
    padding:5px;
    }
 }
